html {
	color:#6F675E;
	font-family: 'Trebuchet MS', Verdana, Arial,'Lucida Grande';
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:15px;
	background: #3e9fc2;
}
* {
	margin: 0;
	padding: 0;
	border: none;
}
body {
	
}
a {
	color: #191919;
	text-decoration: none;
}
#temp {
	background: #fff;
	height: 100px;
	padding: 50px  0;
	text-align: center;
}
.center {
	width: 55%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}
.center p {
	text-align: center;
}
.center p#result {
	padding-top: 100px;
}

#top {
	background: #fff;
	height: 270px;
}
#front {
	float: left;
	margin: 30px 70px 0 250px;
	position: absolute;	
}
#front h2, h3 { color: #000;}
#front img, h2 { margin-bottom: 20px; }
#front h3 {font-size: 22px; margin: 5px 0;}
/* search stuff */
#input_query { border: solid 1px #aaa9a9;
	width: 200px; 
	padding: 6px;
}
#btn_getLunchPlace { 
	background: url("../image/site/btn_getLunchPlace.png") no-repeat; 
	cursor: pointer; 
	width: 112px; 
	height: 28px; 
	clear: both;
} 
    

.distinguish {
	font-size: 130%;
	color: #191919;
	}                             
#confused_smiley {
	margin: 20px 50px 20px 50px;	
	float: left;
}

#bottom {

	height: 300px;
}

#bottom_text_table {
	margin: 40px 0 40px 40px;	
	float: left;
	font-weight: normal;
}
#bottom_text_table td {
	color: #fff;	
	font-size: 140%;
	padding: 10px;
	vertical-align : top;
}
#bottom_text_table  a{
	color: #4c4c4c;
	font-weight: bold;
}
#table_addRestaurant input {
	border: solid 1px #aaa9a9; 
	}

/* add restaurant stuff */
.tdspace {
	width: 10px;
	}
	
/* result page */
#map_canvas { 
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border: 1px solid white;
}

#result {
	font-size: 130%;
	margin-right: 40px;
	text-align: left;
	}
#result table td{
	text-transform: none;
}
.header {
	font-size: 90%;
	padding-right: 10px;
}

.map_result {
	color: white;
	font-size: 130%;
	font-weight: bold;
	margin: 20px 0 20px 0;
}
address {
	color: #fff;
	font-size: 12px;
}